@page
@using DinoDiner.Menu
@model Website.MenuModel
@{
    ViewData["Title"] = "Menu";
}

    <div class="container">
        <div class="results">
            <h1 align="center">Menu</h1>










            <div>
                @if ( Model.cesd.Count() ==0 || Model.cesd.Contains("Combos") )
                {
                <h2 id="dis">Combos</h2>
                @if (Model.allCombos.Count() == 0)
                {<h4>No result</h4>}
                @foreach (CretaceousCombo cc in Model.allCombos)
                {
                    <p>
                        @cc.Description &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@cc.Price</b>
                    </p>
                    <ul>
                        <li>
                            <b>Calories: @cc.Calories </b>

                        </li>
                        <li>
                            <b>Side: </b>
                            @cc.Side

                        </li>
                        <li>
                            <b>Drink: </b>
                            @cc.Drink


                        </li>
                        <li>
                            Ingredience:@foreach (string st in @cc.Ingredients)
                            {<ul>* @st</ul>
                            }
                        </li>

                    </ul>
                }
                }
            </div>
           

            <div>
                @if ( Model.cesd.Count() ==0 || Model.cesd.Contains("Entrees") )
                {
                    <h2 id="dis">Entrees</h2>
                    @if (Model.allEntree.Count() == 0)
                    {<h4>No result</h4>}
                    @foreach (Entree cc in Model.allEntree)
                    {
                        <p>
                            @cc.Description &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@cc.Price</b>
                        </p>
                        <ul>
                            <li>
                                <b>Calories: @cc.Calories </b>

                            </li>
                            <li>
                                Ingredience:@foreach (string st in @cc.Ingredients)
                                {<ul>* @st</ul>
                                }
                            </li>

                        </ul>
                    }
                }
                </div>
            
            <div>
                @if ( Model.cesd.Count() ==0 || Model.cesd.Contains("Sides") )
                {
                    <h2 id="dis">Sides</h2>
                    @if (Model.allSide.Count() == 0)
                    {<h4>No result</h4>}
                    @foreach (Side cc in Model.allSide)
                    {
                        <p>
                            @cc.Description &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@cc.Price</b>
                        </p>
                        <ul>
                            <li>
                                <b>Calories: @cc.Calories </b>

                            </li>
                            <li>
                                Ingredience:@foreach (string st in @cc.Ingredients)
                                {<ul>* @st</ul>
                                }
                            </li>

                        </ul>
                    }
                }
                </div>
            
            <div>
                @if ( Model.cesd.Count() ==0 || Model.cesd.Contains("Drinks") )
                {
                    <h2 id="dis">Drinks</h2>
                    @if (Model.allSide.Count() == 0)
                    {<h4>No result</h4>}
                    @foreach (Drinks cc in Model.allDrinks)
                    {
                        <p>
                            @cc.Description &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@cc.Price</b>
                        </p>
                        <ul>
                            <li>
                                <b>Calories: @cc.Calories </b>

                            </li>
                            <li>
                                Ingredience:@foreach (string st in @cc.Ingredients)
                                {<ul>* @st</ul>
                                }
                            </li>

                        </ul>
                    }
                }
                </div>
           













        </div>
        <form method="post">


            <input type="text" name="search"  value="@Model.search"/>

            <input type="submit" value="Apply Filter(s)" />

            <h4>Menu Category</h4>
            <label>
                <input type="checkbox" value="Combos" name="cesd" checked="@Model.cesd.Contains("Combos")" />
                Combo
            </label>
            <label>
                <input type="checkbox" value="Entrees" name="cesd" checked="@Model.cesd.Contains("Entrees")"/>
                Entrees
            </label>
            <label>
                <input type="checkbox" value="Sides" name="cesd" checked="@Model.cesd.Contains("Sides")"/>
                Sides
            </label>
            <label>
                <input type="checkbox" value="Drinks" name="cesd" checked="@Model.cesd.Contains("Drinks")" />
                Drinks
            </label>


            <h4>Price</h4>
            <label>
                Min
                <input type="number" min="0" max="20" step="0.1" name="minPrice" value="@Model.minPrice"/>
            </label>
            <label>
                Max
                <input type="number" min="0" max="10" step="0.1" name="maxPrice" value="@Model.maxPrice"/>
            </label>

            <h4>Excluding Ingredients</h4>

            <label>
                <input type="checkbox" value="Bread" name="cats" checked="@Model.cats.Contains("Bread")" />
                Bread
            </label>
            <label>
                <input type="checkbox" value="Chicken" name="cats" checked="@Model.cats.Contains("Chicken")"/>
                Chicken
            </label>
            <label>
                <input type="checkbox" value="Brautwurst" name="cats" checked="@Model.cats.Contains("Brautwurst")" />
                Brautwurst
            </label>
            <label>
                <input type="checkbox" value="PeanutButter" name="cats" checked="@Model.cats.Contains("PeanutButter")" />
                Peanut Butter
            </label>
            <label>
                <input type="checkbox" value="Jelly" name="cats" checked="@Model.cats.Contains("Jelly")" />
                Jelly
            </label>
            <label>
                <input type="checkbox" value="Steakburger" name="cats" checked="@Model.cats.Contains("Steakburger")"/>
                Steakburger
            </label>
            <label>
                <input type="checkbox" value="Lettuce" name="cats" checked="@Model.cats.Contains("Lettuce")" />
                Lettuce
            </label>
            <label>
                <input type="checkbox" value="Tomato" name="cats" checked="@Model.cats.Contains("Tomato")"/>
                Tomato
            </label>
            <label>
                <input type="checkbox" value="Onion" name="cats" checked="@Model.cats.Contains("Onion")"/>
                Onion
            </label>
            <label>
                <input type="checkbox" value="Ketchup" name="cats" checked="@Model.cats.Contains("Ketchup")"/>
                Ketchup
            </label>
            <label>
                <input type="checkbox" value="Pickle" name="cats" checked="@Model.cats.Contains("Pickle")"/>
                Pickle
            </label>
            <label>
                <input type="checkbox" value="Mustard" name="cats" checked="@Model.cats.Contains("Mustard")"/>
                Mustard
            </label>
            <label>
                <input type="checkbox" value="Mayo" name="cats" checked="@Model.cats.Contains("Mayo")"/>
                Mayo
            </label>
            <label>
                <input type="checkbox" value="Potato" name="cats" checked="@Model.cats.Contains("Potato")" />
                Potato
            </label>
            <label>
                <input type="checkbox" value="Ketchup" name="cats" checked="@Model.cats.Contains("Ketchup")"/>
                Ketchup
            </label>
            <label>
                <input type="checkbox" value="Salt" name="cats" checked="@Model.cats.Contains("Salt")" />
                Salt
            </label>
            <label>
                <input type="checkbox" value="VegetableOil" name="cats" checked="@Model.cats.Contains("VegetableOil")" />
                Vegetable Oil
            </label>
            <label>
                <input type="checkbox" value="Water" name="cats" checked="@Model.cats.Contains("Water")"/>
                Water
            </label>
            <label>
                <input type="checkbox" value="NaturalFlavors" name="cats" checked="@Model.cats.Contains("NaturalFlavors")"/>
                Natural Flavors
            </label>
            <label>
                <input type="checkbox" value="CaneSugar" name="cats" checked="@Model.cats.Contains("CaneSugar")" />
                Cane Sugar
            </label>


        </form>
    </div>