@page
@model Website.MenuModel
@{
    ViewData["Title"] = "Menu";
}
    <div class="container">
        <div class="results">
            <h1 align="center">Menu</h1>



            <h2>Combos</h2>

            <p>
                @Model.discriptionsBrw &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.comboPricesBrw</b>
            </p>
            <ul>
                <p>
                    <b>Calories: </b>
                    @Model.comboCaloriesBrw
                </p>
                <p>
                    <b>Side: </b>
                    @Model.combosideBrw

                </p>
                <p>
                    <b>Drink: </b>
                    @Model.combodrinksBrw

                </p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.comboInBrw.Count; i++)
                    {<ul>* @Model.comboInBrw.ElementAt(i)</ul>
                }
                </p>

            </ul>


            <p>
                @Model.discriptionsDinoNugs &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.comboPricesdinoNugs</b>
            </p>
            <ul>
                <p>
                    <b>Calories: </b>
                    @Model.comboCaloriesdinoNugs
                </p>
                <p>
                    <b>Side: </b>
                    @Model.combosideDinoNugs

                </p>
                <p>
                    <b>Drink: </b>
                    @Model.combodrinksDinoNugs

                </p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.comboInDinoNugs.Count; i++)
                    {<ul>* @Model.comboInDinoNugs.ElementAt(i)</ul>
                }
                </p>

            </ul>


            <p>
                @Model.discriptionsphPJ &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.comboPricesphPJ</b>
            </p>
            <ul>
                <p>
                    <b>Calories: </b>
                    @Model.comboCaloriesphPJ
                </p>
                <p>
                    <b>Side: </b>
                    @Model.combosidephPJ

                </p>
                <p>
                    <b>Drink: </b>
                    @Model.combodrinksphPJ

                </p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.comboInphPJ.Count; i++)
                    {<ul>* @Model.comboInphPJ.ElementAt(i)</ul>
                }
                </p>

            </ul>


            <p>
                @Model.discriptionsptWings &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.comboPricesptWings</b>
            </p>
            <ul>
                <p>
                    <b>Calories: </b>
                    @Model.comboCaloriesptWings
                </p>
                <p>
                    <b>Side: </b>
                    @Model.combosideptWings

                </p>
                <p>
                    <b>Drink: </b>
                    @Model.combodrinksptWings

                </p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.comboInptWings.Count; i++)
                    {<ul>* @Model.comboInptWings.ElementAt(i)</ul>
                }
                </p>

            </ul>


            <p>
                @Model.discriptionsstBurger &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.comboPricesstBurger</b>
            </p>
            <ul>
                <p>
                    <b>Calories: </b>
                    @Model.comboCaloriesstBurger
                </p>
                <p>
                    <b>Side: </b>
                    @Model.combosidestBurger

                </p>
                <p>
                    <b>Drink: </b>
                    @Model.combodrinksstBurger

                </p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.comboInstBurger.Count; i++)
                    {<ul>* @Model.comboInstBurger.ElementAt(i)</ul>
                }
                </p>

            </ul>


            <p>
                @Model.discriptionstrBurger &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.comboPricestrBurger</b>
            </p>
            <ul>
                <p>
                    <b>Calories: </b>
                    @Model.comboCaloriestrBurger
                </p>
                <p>
                    <b>Side: </b>
                    @Model.combosidetrBurger

                </p>
                <p>
                    <b>Drink: </b>
                    @Model.combodrinkstrBurger

                </p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.comboIntrBurger.Count; i++)
                    {<ul>* @Model.comboIntrBurger.ElementAt(i)</ul>
                }
                </p>

            </ul>


            <p>
                @Model.discriptionsvlWrap &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.comboPricesvlWrap</b>
            </p>
            <ul>
                <p>
                    <b>Calories: </b>
                    @Model.comboCaloriesvlWrap
                </p>

                <p>
                    <b>Side: </b>
                    @Model.combosidevlWrap

                </p>
                <p>
                    <b>Drink: </b>
                    @Model.combodrinksvlWrap

                </p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.comboInvlWrap.Count; i++)
                    {<ul>* @Model.comboInvlWrap.ElementAt(i)</ul>
                }
                </p>

            </ul>







            <h2>Entrees</h2>
            <p>@Model.pbjDiscription &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.pbjPrice</b></p>
            <ul>
                <p>Calories: @Model.pbjCalories</p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.pbjIngredients.Count; i++)
                    {<ul>* @Model.pbjIngredients.ElementAt(i)</ul>
                }
                </p>
            </ul>



            <p>@Model.brtDiscription &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.brtPrice</b></p>
            <ul>
                <p>Calories: @Model.brtDiscription</p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.brtIngredients.Count; i++)
                    {<ul>* @Model.brtIngredients.ElementAt(i)</ul>
                }
                </p>
            </ul>




            <p>@Model.dnnDiscription &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.dnnPrice</b></p>
            <ul>
                <p>Calories: @Model.dnnCalories</p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.dnnIngredients.Count; i++)
                    {<ul>* @Model.dnnIngredients.ElementAt(i)</ul>
                }
                </p>
            </ul>





            <p>@Model.ptwDiscription &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.ptwPrice</b></p>
            <ul>
                <p>Calories: @Model.ptwCalories</p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.ptwIngredients.Count; i++)
                    {<ul>* @Model.ptwIngredients.ElementAt(i)</ul>
                }
                </p>
            </ul>



            <p>@Model.stbDiscription &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.stbPrice</b></p>
            <ul>
                <p>Calories: @Model.stbCalories</p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.stbIngredients.Count; i++)
                    {<ul>* @Model.stbIngredients.ElementAt(i)</ul>
                }
                </p>
            </ul>


            <p>@Model.trbDiscription &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.trbPrice</b></p>
            <ul>
                <p>Calories: @Model.trbCalories</p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.trbIngredients.Count; i++)
                    {<ul>* @Model.trbIngredients.ElementAt(i)</ul>
                }
                </p>
            </ul>

            <p>@Model.vlwDiscription &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.vlwPrice</b></p>
            <ul>
                <p>Calories: @Model.vlwCalories</p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.vlwIngredients.Count; i++)
                    {<ul>* @Model.vlwIngredients.ElementAt(i)</ul>
                }
                </p>
            </ul>





            <h2>Sides</h2>
            <p>@Model.frtDescription &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.frtPrice</b></p>
            <ul>
                <p>Calories: @Model.frtCalories</p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.frtIngredience.Count; i++)
                    {<ul>* @Model.frtIngredience.ElementAt(i)</ul>
                }
                </p>
            </ul>
            <p>@Model.mmmDescription &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.mmmPrice</b></p>
            <ul>
                <p>Calories: @Model.mmmCalories</p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.mmmIngredience.Count; i++)
                    {<ul>* @Model.mmmIngredience.ElementAt(i)</ul>
                }
                </p>
            </ul>
            <p>@Model.mzsDescription &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.mzsPrice</b></p>
            <ul>
                <p>Calories: @Model.mzsCalories</p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.mzsIngredience.Count; i++)
                    {<ul>* @Model.mzsIngredience.ElementAt(i)</ul>
                }
                </p>
            </ul>
            <p>@Model.ttsDescription &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.ttsPrice</b></p>
            <ul>
                <p>Calories: @Model.ttsCalories</p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.ttsIngredience.Count; i++)
                    {<ul>* @Model.ttsIngredience.ElementAt(i)</ul>
                }
                </p>
            </ul>





            <h2>Drinks</h2>
            <p>@Model.jrjaDescription &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.jrjaPrice</b></p>
            <ul>
                <p>Calories: @Model.jrjaCalories</p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.jrjaIngredience.Count; i++)
                    {<ul>* @Model.jrjaIngredience.ElementAt(i)</ul>
                }
                </p>
            </ul>



            <p>@Model.sdrDescription &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.sdrPrice</b></p>
            <ul>
                <p>Calories: @Model.sdrCalories</p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.sdrIngredience.Count; i++)
                    {<ul>* @Model.sdrIngredience.ElementAt(i)</ul>
                }
                </p>
            </ul>


            <p>@Model.trtDescription &nbsp;&nbsp;&nbsp; &nbsp;<b>Price: $@Model.trtPrice</b></p>
            <ul>
                <p>Calories: @Model.trtCalories</p>
                <p>
                    Ingredience:@for (int i = 0; i < @Model.trtIngredience.Count; i++)
                    {<ul>* @Model.trtIngredience.ElementAt(i)</ul>
                }
                </p>
            </ul>













        </div>
        <form method="post">

            
            <input type="text" name="search"  />

            <input type="submit" value="Apply Filter(s)" />

            <h4>Menu Category</h4>
            <label>
                <input type="checkbox" value="Combos" name="cats"/>
                Combo
            </label>
            <label>
                <input type="checkbox" value="entree" name="cats"/>
                Entree
            </label>
            <label>
                <input type="checkbox" value="side" name="cats"/>
                Side
            </label>
            <label>
                <input type="checkbox" value="drink" name="cats"/>
                Drink
            </label>
          

            <h4>Price</h4>
            <label>
                Min
                <input type="number" min="0" max="10" step="0.1" name="minPrice"/>
            </label>
            <label>
                Max
                <input type="number" min="0" max="10" step="0.1" name="maxPrice" />
            </label>

            <h4>Excluding Ingredients</h4>
            <select name="order">
                <option default>None</option>
                <option value="title">Title</option>
                <option value="director">Director</option>
                <option value="year" >Year</option>
                <option value="imdb" >IMDB Rating</option>
            </select>


        </form>
    </div>