@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
<div class="content">
    <div class="menu">
        <h1>Menu</h1>
        @if (Model.Combos.Count() > 0)
        {
            <h2>Combos</h2>
            <div>
                @foreach (DinoDiner.Menu.CretaceousCombo combo in Model.Combos)
                {
                    <div class="menu-item">
                        <strong>@combo</strong>
                        <table border="1">
                            <tr>
                                <th>Size</th>
                                <th>Price</th>
                                <th>Calories</th>
                            </tr>
                            <tr>
                                <th>Small</th>
                                <th>$@combo.Price</th>
                                <th>@combo.Calories</th>
                            </tr>
                            <tr>
                                <th>@(combo.Size = DinoDiner.Menu.Size.Medium)</th>
                                <th>$@combo.Price</th>
                                <th>@combo.Calories</th>
                            </tr>
                            <tr>
                                <th>@(combo.Size = DinoDiner.Menu.Size.Large)</th>
                                <th>$@combo.Price</th>
                                <th>@combo.Calories</th>
                            </tr>
                        </table>
                        <p></p>
                        <i>Ingredients:</i>
                        @foreach (string ingredient in combo.Ingredients)
                        {
                            <br />
                            <i>@ingredient</i>
                        }
                        <p></p>
                    </div>
                }
            </div>
        }
        @if (Model.Entrees.Count() > 0)
        {
            <h2>Entrees</h2>
            <div>
                @foreach (DinoDiner.Menu.Entree entree in Model.Entrees)
                {
                    <div class="menu-item">
                        <strong>@entree</strong>: $@entree.Price
                        <br /> Calories: @entree.Calories
                        <br /> Ingredients:
                        @foreach (string ingredient in entree.Ingredients)
                        {
                            <br />
                            <i>@ingredient</i>
                        }
                        <p></p>
                    </div>
                }
            </div>
        }
        @if (Model.Sides.Count() > 0)
        {
            <h2>Sides</h2>
            <div>
                @foreach (DinoDiner.Menu.Side side in Model.Sides)
                {
                    <div class="menu-item">
                        <strong>@side.Type</strong>
                        <table border="1">
                            <tr>
                                <th>Size</th>
                                <th>Price</th>
                                <th>Calories</th>
                            </tr>
                            <tr>
                                <th>Small</th>
                                <th>$@side.Price</th>
                                <th>@side.Calories</th>
                            </tr>
                            <tr>
                                <th>@(side.Size = DinoDiner.Menu.Size.Medium)</th>
                                <th>$@side.Price</th>
                                <th>@side.Calories</th>
                            </tr>
                            <tr>
                                <th>@(side.Size = DinoDiner.Menu.Size.Large)</th>
                                <th>$@side.Price</th>
                                <th>@side.Calories</th>
                            </tr>
                        </table>
                        <p></p>
                        <i>Ingredients:</i>
                        @foreach (string ingredient in side.Ingredients)
                        {
                            <br />
                            <i>@ingredient</i>
                        }
                        <p></p>
                    </div>
                }
            </div>
        }
        @if (Model.Drinks.Count() > 0)
        {
            <h2>Drinks</h2>
            <div>
                @foreach (DinoDiner.Menu.Drink drink in Model.Drinks)
                {
                    <div class="menu-item">
                        <strong>@drink.Type</strong>
                        <table border="1">
                            <tr>
                                <th>Size</th>
                                <th>Price</th>
                                <th>Calories</th>
                            </tr>
                            <tr>
                                <th>Small</th>
                                <th>$@drink.Price</th>
                                <th>@drink.Calories</th>
                            </tr>
                            <tr>
                                <th>@(drink.Size = DinoDiner.Menu.Size.Medium)</th>
                                <th>$@drink.Price</th>
                                <th>@drink.Calories</th>
                            </tr>
                            <tr>
                                <th>@(drink.Size = DinoDiner.Menu.Size.Large)</th>
                                <th>$@drink.Price</th>
                                <th>@drink.Calories</th>
                            </tr>
                        </table>
                        <p></p>
                        <i>Ingredients:</i>
                        @foreach (string ingredient in drink.Ingredients)
                        {
                            <br />
                            <i>@ingredient</i>
                        }
                        <p></p>
                    </div>
                }
            </div>
        }
    </div>
    <form method="post">
        <h4>Search and Filter Menu</h4>
        <input type="text" name="search" id="search" />
        <input type="submit" value="Search and Filter" />
        <h4>Menu Category</h4>
        <div class="menu-category">
            <label>
                <input type="checkbox" name="menuCategory" value="Combo" checked="checked" />
                Combo
            </label>
            <label>
                <input type="checkbox" name="menuCategory" value="Entree" checked="checked" />
                Entree
            </label>
            <label>
                <input type="checkbox" name="menuCategory" value="Side" checked="checked" />
                Side
            </label>
            <label>
                <input type="checkbox" name="menuCategory" value="Drink" checked="checked" />
                Drink
            </label>
            <h4>Price</h4>
            <label>
                Minimum Price:
                <input type="number" min="0" step="0.25" id="minimum-price" name="minimumPrice" />
            </label>
            <label>
                Maximum Price:
                <input type="number" min="0" step="0.25" id="maximum-price" name="maximumPrice" />
            </label>
            <h4><strong>Excluding Ingredients</strong></h4>
            <div class="ingredient-checkbox">
                @foreach (string ingredient in Model.Menu.AvailableIngredients)
                {
                    <label>
                        <input type="checkbox" name="ingredient" value="@ingredient" />
                        @ingredient
                        <p></p>
                    </label>
                }
            </div>
        </div>
    </form>
</div>
